{% extends 'base.html' %}

{% block title %}About Page{% endblock title %}

{% block body %}
<div class="p-4 p-md-5 mb-4 text-white  bg-white">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic" style="color:green">It's Area Service .......</h1>
      <p class="lead my-3"style="color:black;">In society, we see that people  do not find their emergency needed location , area and contact number  .This website will try to solve this problem .User can easily  find area and details </p>
     
    </div>
    
</div>
<div class="  bg-dark" style="height:10px;">
  </div>
  <div class="container my-2">
<div class="  bg-white" style="height:300px;">
    <h1 class="my-4 text-center"style="color:green;" >About this Service</h1>
  
  <p style=" text-align: center;color:black;" >This services will make easier for people to get to know unfamiliar places. </p>
  <p style="text-align: center;color:black;">You can select your needed area,You also can find contact details and location  in emergency time like Hospital details,Police Station details,Fire-service details,School-Collage details and also areas important office details</p>
  <P style="text-align: center;color:black;">It will make easier for You to get to know unfamiliar places and Save your time </P>
  
  </div>
</div>
<div class="  bg-dark my-5" style="height:10px;">
</div>
<div class="container my-2">
<h3 style="color:green;">Benefits of this services-</h3>
<p> Area services allow users to feel safer in times of emergencies, aid in serving personalized and relevant content, and even help users stay organized while traveling.:</p>
<ul>
  <li>It's and highly targeted</li>
  <li>Lectures Can Be Taken Any Number Of Times</li>
  <li>The user will be able to see the full details  of any areas Hospital, Police Station, Fire service, School,Collage and All Council office </li>
  <li> Area-based services also have been helpful in ensuring personal safety.</li>
  <li>Less Impact On Environment</li>
</ul>
</div>
<div class="  bg-dark my-5" style="height:10px;">
</div>
{% endblock body %}
