{% extends 'base.html' %}

{% block title %}Dhaka Distric{% endblock title %}

{% block body %}
<div class="spinner-grow text-success" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<p><strong> Click On Your Thana For Details :</strong></p>

<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Adabar Thana
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          
          <div class="container my-2">
            <h3 style="color:green;">Adabar Police Station:</h3>
            <ul>
              <li><strong>Address:</strong>House-1105/A,Ring Road,Shamoli,Dhaka</li>
              <li><strong>Duty Officer:</strong>Ext:100</li>
              <li><strong>T&T:</strong>+88-02-9133265</li>
              <li><strong>Cell:</strong>+8801199867799</li>
              <li><strong>Inspector Investigation Cell:</strong>+8801769690248</li>
              <li><strong>E-mail:</strong>ocadabor@dmp.gov.bd</li>
            </ul>
            </div>
            <div class="  bg-dark my-5" style="height:10px;">
          </div>
       </div>
       <div class="container my-2">
            <h3 style="color:green;">Hospital Details:</h3>
            <h5 style="color:red;">Plasma Research Centre-</h5>
            <ul>
              <li><strong>Address:</strong>12,house, Shekertek, 14 Adabor Main Rd, Dhaka</li>
              <li><strong>Cell:</strong>+8801728-072625</li>
            </ul>
            <h5 style="color:red;">Mind Aid Hospital-</h5>
            <ul>
              <li><strong>Address:</strong>House : 281, Road no : 02, Baitul Atman Housing Society,Adabor,Dhaka</li>
              <li><strong>Cell:</strong>+8801976-463243</li>
            </ul>
            <h5 style="color:red;">BDM Hospital-</h5>
            <ul>
              <li><strong>Address:</strong>5, Block-B, 17 Humaund Road, Dhaka 1207</li>
              <li><strong>Cell:</strong>02-9134555</li>
            </ul>
            
            </div>
            <div class="  bg-dark my-5" style="height:10px;">
          </div>

          <div class="container my-2">
            <h3 style="color:green;">Fire Service Details:</h3>
            <ul>
              <h5 style="color:red;">Bangladesh Fire Service and Civil Defense-</h5>
            <ul>
              <li><strong>Address:</strong>Mirpur Rd, Dhaka 1205</li>
              <li><strong>Cell:</strong>+8801730-002227</li>
            </ul>
            <h5 style="color:red;">Fire Service & Civil Defence Station-</h5>
            <ul>
              <li><strong>Address:</strong>1216, Mazar Rd, Dhaka</li>
              <li><strong>Cell:</strong>02-9555555 ext. 9551300</li>
            </ul>
              
            </ul>
            </div>
            <div class="  bg-dark my-5" style="height:10px;">
          </div>
          
          <div class="container my-2">
            <h3 style="color:green;">School-Collage Details:</h3>
            <ul>
              <h5 style="color:red;">Mission International College-</h5>
            <ul>
              <li><strong>Address:</strong>37/Uma/1, Road-6, Baitul Aman Housing Society, Shyamoli Adabor, Dhaka 1207</li>
              <li><strong>Cell:</strong>+8801672-087317</li>
            </ul>
            <h5 style="color:red;">Queen's School & College-</h5>
            <ul>
              <li><strong>Address:</strong>Ring Rd, Dhaka 1207</li>
              <li><strong>Cell:</strong>+8801912-4861705</li>
            </ul>
            <h5 style="color:red;">Surrendered (Islami) International Institute-</h5>
            <ul>
              <li><strong>Address:</strong>House#37/JA, Road#6, Uttor Adabor, Dhaka 1207</li>
              <li><strong>Cell:</strong>+8801723-024013</li>
            </ul>
            <h5 style="color:red;">Protiva Ideal Institute School & College-</h5>
            <ul>
              <li><strong>Address:</strong>House:64 Shekhertek:07, House: 41,42. Road no: 06, Shyamoli Housing, Dhaka 1207</li>
              <li><strong>Cell:</strong>+8801911-725970</li>
            </ul>

            </ul>
            </div>
            <div class="  bg-dark my-5" style="height:10px;">
          </div>
          
       </div>          
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          Badda Thana
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <div class="container my-2">
            <h3 style="color:green;">Badda Police Station:</h3>
            <ul>
              <li><strong>Address:</strong>House-12/A,R-17,DIT Project,Marul Badda,Dhaka</li>
              <li><strong>Duty Officer:</strong>Ext:100</li>
              <li><strong>T&T:</strong>+88-02-9882625</li>
              <li><strong>Cell:</strong>+8801191001155</li>
              <li><strong>Inspector Investigation Cell:</strong>+8801769690256</li>
              <li><strong>E-mail:</strong>ocbadda@dmp.gov.bd</li>
            </ul>
            </div>
            <div class="  bg-dark my-5" style="height:10px;">
          </div>
          <div class="container my-2">
            <h3 style="color:green;">Hospital Details:</h3>
            <h5 style="color:red;">Plasma Research Centre-</h5>
            <ul>
              <li><strong>Address:</strong>12,house, Shekertek, 14 Adabor Main Rd, Dhaka</li>
              <li><strong>Cell:</strong>+8801728-072625</li>
            </ul>
            <h5 style="color:red;">Mind Aid Hospital-</h5>
            <ul>
              <li><strong>Address:</strong>House : 281, Road no : 02, Baitul Atman Housing Society,Adabor,Dhaka</li>
              <li><strong>Cell:</strong>+8801976-463243</li>
            </ul>
            <h5 style="color:red;">BDM Hospital-</h5>
            <ul>
              <li><strong>Address:</strong>5, Block-B, 17 Humaund Road, Dhaka 1207</li>
              <li><strong>Cell:</strong>02-9134555</li>
            </ul>
            
            </div>
            <div class="  bg-dark my-5" style="height:10px;">
          </div>

          <div class="container my-2">
            <h3 style="color:green;">Fire Service Details:</h3>
            <ul>
              <h5 style="color:red;">Bangladesh Fire Service and Civil Defense-</h5>
            <ul>
              <li><strong>Address:</strong>Mirpur Rd, Dhaka 1205</li>
              <li><strong>Cell:</strong>+8801730-002227</li>
            </ul>
            <h5 style="color:red;">Fire Service & Civil Defence Station-</h5>
            <ul>
              <li><strong>Address:</strong>1216, Mazar Rd, Dhaka</li>
              <li><strong>Cell:</strong>02-9555555 ext. 9551300</li>
            </ul>
              
            </ul>
            </div>
            <div class="  bg-dark my-5" style="height:10px;">
          </div>
          
          <div class="container my-2">
            <h3 style="color:green;">School-Collage Details:</h3>
            <ul>
              <h5 style="color:red;">Mission International College-</h5>
            <ul>
              <li><strong>Address:</strong>37/Uma/1, Road-6, Baitul Aman Housing Society, Shyamoli Adabor, Dhaka 1207</li>
              <li><strong>Cell:</strong>+8801672-087317</li>
            </ul>
            <h5 style="color:red;">Queen's School & College-</h5>
            <ul>
              <li><strong>Address:</strong>Ring Rd, Dhaka 1207</li>
              <li><strong>Cell:</strong>+8801912-4861705</li>
            </ul>
            <h5 style="color:red;">Surrendered (Islami) International Institute-</h5>
            <ul>
              <li><strong>Address:</strong>House#37/JA, Road#6, Uttor Adabor, Dhaka 1207</li>
              <li><strong>Cell:</strong>+8801723-024013</li>
            </ul>
            <h5 style="color:red;">Protiva Ideal Institute School & College-</h5>
            <ul>
              <li><strong>Address:</strong>House:64 Shekhertek:07, House: 41,42. Road no: 06, Shyamoli Housing, Dhaka 1207</li>
              <li><strong>Cell:</strong>+8801911-725970</li>
            </ul>

            </ul>
            </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          Dhanmondi Thana
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <div class="container my-2">
            <h3 style="color:green;">Dhanmondi Police Station:</h3>
            <ul>
              <li><strong>Address:</strong>House-#21,R#6,Dhanmondi,Dhaka</li>
              <li><strong>Duty Officer:</strong>Ext:100</li>
              <li><strong>T&T:</strong>+88-02-8631941</li>
              <li><strong>Cell:</strong>+8801199883622</li>
              <li><strong>Inspector Investigation Cell:</strong>+8801769690224</li>
              <li><strong>E-mail:</strong>ocdhanmondi@dmp.gov.bd</li>
            </ul>
            </div>
            <div class="  bg-dark my-5" style="height:10px;">
          </div>
          <div class="container my-2">
            <h3 style="color:green;">Hospital Details:</h3>
            <h5 style="color:red;">Dhanmondi Hospital (PVT) Ltd-</h5>
            <ul>
              <li><strong>Address:</strong>17 Green Rd, Dhaka 1205</li>
              <li><strong>Cell:</strong>+8801673-892863</li>
            </ul>
            <h5 style="color:red;">ইবনে সিনা স্পেশালাইজড হাসপাতাল-</h5>
            <ul>
              <li><strong>Address:</strong>H.No, 68 Road No 15, Dhaka 1209</li>
              <li><strong>Cell:</strong>+8801823-039800</li>
            </ul>
            <h5 style="color:red;">Central Hospital Ltd.-</h5>
            <ul>
              <li><strong>Address:</strong>House # 2 Rd No. 5, Dhaka 1205</li>
              <li><strong>Cell:</strong> +880 2 9660015-195</li>
            </ul>
            
            </div>
            <div class="  bg-dark my-5" style="height:10px;">
          </div>

          <div class="container my-2">
            <h3 style="color:green;">Fire Service Details:</h3>
            <ul>
              <h5 style="color:red;">Fire Service and Civil Defense, Tejgaon-</h5>
            <ul>
              <li><strong>Address:</strong>Shaheed Tajuddin Ahmed Ave, Dhaka 1208</li>
              <li><strong>Cell:</strong>+8801730-002226</li>
            </ul>
            <h5 style="color:red;">Bangladesh Fire Service and Civil Defense-</h5>
            <ul>
              <li><strong>Address:</strong>Dhakeshwari Rd, Dhaka 1000</li>
              <li><strong>Cell:</strong>02-8628688</li>
            </ul>
              
            </ul>
            </div>
            <div class="  bg-dark my-5" style="height:10px;">
          </div>
          
          <div class="container my-2">
            <h3 style="color:green;">School-Collage Details:</h3>
            <ul>
              <h5 style="color:red;">Viqarunnisa Noon School & College-</h5>
            <ul>
              <li><strong>Address:</strong>House No. 6, Road No. 8, R/A, Dhaka 1205</li>
              <li><strong>Cell:</strong>+8801825-722677</li>
            </ul>
            <h5 style="color:red;">Scholars' School & College-</h5>
            <ul>
              <li><strong>Address:</strong>House 83 (New), 9/A (New), Dhaka-1209 House 834 (Old), Road 19 (Old), Dhaka-1209, 1209</li>
              <li><strong>Cell:</strong>+8801704-320130</li>
            </ul>
            <h5 style="color:red;">Dhanmondi Ideal School-</h5>
            <ul>
              <li><strong>Address:</strong>44/Q/2, নতুন সড়ক , Jigatola, Dhaka 1209</li>
              <li><strong>Cell:</strong>+8801749-181515</li>
            </ul>
            <h5 style="color:red;">Dhaka Public School & College-</h5>
            <ul>
              <li><strong>Address:</strong>Satmasjid Road, Dhaka 1205</li>
              <li><strong>Cell:</strong>02-9142866</li>
            </ul>
            <h5 style="color:red;">Daffodil International School-</h5>
            <ul>
              <li><strong>Address:</strong>House#13 Rd No 14, Dhaka 1209</li>
              <li><strong>Cell:</strong>091-35455 ext. 9143026</li>
            </ul>

            
            </div>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
          Gulshan Thana
        </button>
      </h2>
      <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <div class="container my-2">
            <h3 style="color:green;">Gulshan Police Station:</h3>
            <ul>
              <li><strong>Address:</strong>House-1105/A,Ring Road,Shamoli,Dhaka</li>
              <li><strong>Duty Officer:</strong>Ext:100</li>
              <li><strong>T&T:</strong>+88-02-9133265</li>
              <li><strong>Cell:</strong>+8801199867799</li>
              <li><strong>Inspector Investigation Cell:</strong>+8801769690248</li>
              <li><strong>E-mail:</strong>ocadabor@dmp.gov.bd</li>
            </ul>
            </div>
            <div class="  bg-dark my-5" style="height:10px;">
          </div>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFive">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
          Jatrabari Thana
        </button>
      </h2>
      <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <div class="container my-2">
            <h3 style="color:green;">Jatrabari Police Station:</h3>
            <ul>
              <li><strong>Address:</strong>House-1105/A,Ring Road,Shamoli,Dhaka</li>
              <li><strong>Duty Officer:</strong>Ext:100</li>
              <li><strong>T&T:</strong>+88-02-9133265</li>
              <li><strong>Cell:</strong>+8801199867799</li>
              <li><strong>Inspector Investigation Cell:</strong>+8801769690248</li>
              <li><strong>E-mail:</strong>ocadabor@dmp.gov.bd</li>
            </ul>
            </div>
            <div class="  bg-dark my-5" style="height:10px;">
          </div>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingSix">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
          Kalabagan Thana
        </button>
      </h2>
      <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <div class="container my-2">
            <h3 style="color:green;">Kalabagan Police Station:</h3>
            <ul>
              <li><strong>Address:</strong>House-1105/A,Ring Road,Shamoli,Dhaka</li>
              <li><strong>Duty Officer:</strong>Ext:100</li>
              <li><strong>T&T:</strong>+88-02-9133265</li>
              <li><strong>Cell:</strong>+8801199867799</li>
              <li><strong>Inspector Investigation Cell:</strong>+8801769690248</li>
              <li><strong>E-mail:</strong>ocadabor@dmp.gov.bd</li>
            </ul>
            </div>
            <div class="  bg-dark my-5" style="height:10px;">
          </div>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingSeven">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
          Mirpur Model Thana
        </button>
      </h2>
      <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <div class="container my-2">
            <h3 style="color:green;">Mirpur Police Station:</h3>
            <ul>
              <li><strong>Address:</strong>House-1105/A,Ring Road,Shamoli,Dhaka</li>
              <li><strong>Duty Officer:</strong>Ext:100</li>
              <li><strong>T&T:</strong>+88-02-9133265</li>
              <li><strong>Cell:</strong>+8801199867799</li>
              <li><strong>Inspector Investigation Cell:</strong>+8801769690248</li>
              <li><strong>E-mail:</strong>ocadabor@dmp.gov.bd</li>
            </ul>
            </div>
            <div class="  bg-dark my-5" style="height:10px;">
          </div>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingEight">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
          Ramna Thana
        </button>
      </h2>
      <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <div class="container my-2">
            <h3 style="color:green;">Ramna Police Station:</h3>
            <ul>
              <li><strong>Address:</strong>House-1105/A,Ring Road,Shamoli,Dhaka</li>
              <li><strong>Duty Officer:</strong>Ext:100</li>
              <li><strong>T&T:</strong>+88-02-9133265</li>
              <li><strong>Cell:</strong>+8801199867799</li>
              <li><strong>Inspector Investigation Cell:</strong>+8801769690248</li>
              <li><strong>E-mail:</strong>ocadabor@dmp.gov.bd</li>
            </ul>
            </div>
            <div class="  bg-dark my-5" style="height:10px;">
          </div>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingNine">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
          Shahbag Thana
        </button>
      </h2>
      <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNine" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <div class="container my-2">
            <h3 style="color:green;">Shahabag Police Station:</h3>
            <ul>
              <li><strong>Address:</strong>House-1105/A,Ring Road,Shamoli,Dhaka</li>
              <li><strong>Duty Officer:</strong>Ext:100</li>
              <li><strong>T&T:</strong>+88-02-9133265</li>
              <li><strong>Cell:</strong>+8801199867799</li>
              <li><strong>Inspector Investigation Cell:</strong>+8801769690248</li>
              <li><strong>E-mail:</strong>ocadabor@dmp.gov.bd</li>
            </ul>
            </div>
            <div class="  bg-dark my-5" style="height:10px;">
          </div>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTen">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen">
          Sher-e-Bangla Nagar Thana
        </button>
      </h2>
      <div id="flush-collapseTen" class="accordion-collapse collapse" aria-labelledby="flush-headingTen" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <div class="container my-2">
            <h3 style="color:green;">Shere-e-Bangla Police Station:</h3>
            <ul>
              <li><strong>Address:</strong>House-1105/A,Ring Road,Shamoli,Dhaka</li>
              <li><strong>Duty Officer:</strong>Ext:100</li>
              <li><strong>T&T:</strong>+88-02-9133265</li>
              <li><strong>Cell:</strong>+8801199867799</li>
              <li><strong>Inspector Investigation Cell:</strong>+8801769690248</li>
              <li><strong>E-mail:</strong>ocadabor@dmp.gov.bd</li>
            </ul>
            </div>
            <div class="  bg-dark my-5" style="height:10px;">
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}